.preview-photos-table {
  width: 100%;
  border: 1px solid #2b2b2b;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 20px;
  border-collapse: collapse;
  thead {
    th {
      padding: 16px 0px;
    }
  }
  tbody {
    tr {
      td {
        border-bottom: 1px solid #2b2b2b;
        border-top: 1px solid #2b2b2b;
        padding: 10px 10px;
        .preview-image-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          .preview-image {
            width: 80px;
            height: 80px;
            object-fit: cover;
            cursor: pointer;
          }
        }
        .preview-buttons {
          display: flex;
          gap: 10px;
        }
      }
    }
  }
}
