.home-wrapper {
  .content {
    .menu {
      width: 16rem;
      background-color: #f7fcfe;
      padding: 16px 10px;
      border-right: 2px solid #e8edef;
      position: fixed;
      margin-left: 4rem;
      height: 100%;
    }
  }
}
