.home-wrapper {
  .content {
    .blog-post-menu {
      width: 16rem;
      background-color: #f7fcfe;
      padding: 16px 10px;
      border-left: 2px solid #e8edef;
      transition: 0.7s ease;
      .button-wrapper {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 2px solid #e8edef;
      }
    }
    .menu {
      width: 16rem;
      background-color: #f7fcfe;
      padding: 16px 10px;
      border-right: 2px solid #e8edef;
      position: fixed;
      height: 100%;
      transition: 0.7s ease;
      input {
        width: 100%;
        background: white;
        border-radius: 20px;
        padding: 4px 16px;
        border: 1px solid #e8edef;
        outline: none;
        transition: 0.3s ease;
        &:focus {
          border: 1px solid #88a3ae;
        }
      }
      .menu-items {
        margin-top: 16px;
        .menu-item-content {
          margin-left: 20px;
          font-size: 0.8em;
        }
      }
    }
  }
}
.hide-menu {
  transform: translateX(-20rem);
}
.show-menu {
  transform: translateX(4rem);
}
