.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  .modal-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: auto;
    img {
      width: 80%;
      height: auto;
      max-height: 800px;
      object-fit: cover;
    }
  }
}
