.sidebar-container {
  width: 4rem;
  background-color: white;
  height: 100%;
  padding: 16px 10px;
  border-right: 2px solid #e8edef;
  position: fixed;
  z-index: 1;
  .sidebar-menus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    .sidebar-menu {
      border: 1px solid #c8dfe7;
      width: 40px;
      height: 40px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #373737;
      transition: 1s ease;
      svg {
        fill: #9ad2ea;
        transition: 1s ease;
      }
    }
    .sidebar-menu.active {
      background-color: #9bdbf0;
      svg {
        fill: #ffffff;
      }
    }
  }
}
