.visitor-overview,
.blog-overview,
.gallery-overview {
  margin-top: 20px;
}
.dashboard-overview {
  .card-container {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto;
  }
}
