.form-group {
  label {
    font-size: 0.9rem;
    font-weight: bold;
  }
  input {
    display: block;
    border: none;
    width: 100%;
    padding: 8px;
    outline: none;
    border-radius: 4px;
    background: white;
    border: 1px solid #e8edef;
    outline: none;
    transition: 0.3s ease;
    &:focus {
      border: 1px solid #9bdbf0;
    }
  }
}
