.home-wrapper {
  .content {
    display: flex;
    padding-top: 65px;
    position: relative;
    .main-content {
      padding: 16px 10px;
      height: 1000px;
      width: 100%;
      transition: 0.7s ease;
    }
  }
}
.show-main-content {
  // transform: translateX(20rem);
  margin-left: 20rem;
}
.hide-main-content {
  transform: translateX(4rem);
  width: 95.5% !important;
}
