.home-wrapper {
  height: 100%;
  .content {
    padding-top: 65px;
    .main-content {
      padding: 16px 10px;
    }
    .main-content,
    .secondary-main-content {
      transition: 0.7s ease;
    }
  }
}
.show-main-content,
.show-secondary-main-content {
  // transform: translateX(20rem);
  margin-left: 20rem;
}
.hide-secondary-main-content {
  transform: translateX(4rem);
  width: 95.8% !important;
}
.hide-main-content {
  transform: translateX(4rem);
  width: 95.5% !important;
}
