.home-wrapper {
  .content {
    display: flex;
    padding-top: 65px;
    position: relative;
    .main-content {
      padding: 16px 10px;
      height: 1000px;
      margin-left: 20rem;
      width: 100%;
    }
  }
}
