@font-face {
  font-family: NotoJapan;
  src: url("./assets/fonts/NotoSansJP-VariableFont_wght.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Poppins;
}
h1,
h2,
h3,
h4,
h5,
p,
th,
td,
label {
  color: #2b2b2b;
}

.sub-pagetitle::before {
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 10px;
  display: inline-block;
  background-color: #9bdbf0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
